<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="styles.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

</head>
<body>

  <div class="stuck-header-index">

      <form class="submit_form" method="post" action="/">
        <input class="submit_button" type="submit" value="+">
      </form>


      <div class="login-signup-index">
        <a href="/profile" class="btn btn-default" <span class="fa fa-user"></span> <%= first_name + " " + last_name %> </a>
      </div>

  </div>

</body>
</html>
